<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.ryccoatika.pictune">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:versionCode="2"
            android:versionName="1.0.0"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SplashScreenActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".photo.PhotoViewActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity
                android:name=".settings.autowallpaper.SettingAutoWallpaperActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity
                android:name=".search.activity.UnsplashSearchActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity
                android:name=".search.category.UnsplashCategoryActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity
                android:name=".collection.UnsplashCollectionActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity
                android:name=".user.UnsplashUserActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity
                android:name=".photo.UnsplashPhotoActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity
                android:name=".HomeActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <activity
                android:name=".search.UnsplashSearchFragment"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>